* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 55%;
    margin: auto;
    background-color: #083b4c;
}

::-webkit-scrollbar {
    width: 3px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: #ffd166;
}

h1 {
    margin: 30px 0;
    font-size: 3rem;
    text-align: center;
    color: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: auto;
    padding-bottom: 20px;
}

.square {
    text-align: center;
    font-weight: 600;
    line-height: 120px;
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s, border 0.2s;
}

.square:hover {
    box-shadow: inset 3px 3px 20px 0px rgba(255, 255, 255, 0.2), inset -3px -3px 20px 0px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    filter: brightness(1.1);
}